# Compiled files
*.o
*.so
*.dll
*.exe
*/pycache/*
*.pyc
*.cpython*

# Build directories
build/
dist/
djolowin-storefront/
#virtualenv
djolowin-env/

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo

#environment variables
.env

# IDE-specific files (e.g. for Visual Studio Code)
.vscode/
.vs

# Package manager files
node_modules/
