.gradient-custom {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(
		90deg,
		rgb(255, 255, 255) 0%,
		rgb(255, 255, 255) 35%,
		rgb(255, 255, 255) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgb(255, 255, 255) 0%,
		rgb(255, 255, 255) 35%,
		rgb(255, 255, 255) 100%
	);
	background: linear-gradient(
		90deg,
		rgb(255, 255, 255) 0%,
		rgb(255, 255, 255) 35%,
		rgb(255, 255, 255) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.container {
	padding: 5px;
	min-height: 100px; /* set the minimum height */
}
